.conversations {
  height: 100%;
  overflow-y: scroll;
  position: relative;
  background: #2f3136;
}

.conversationsContainer {
  padding: 10px;
}

.conversationListTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2022256e;
  padding: 10px;
  z-index: 10;
  width: 100%;
  background: #2f3136;
  margin-bottom: 1rem;
}

.elementsContainer {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.elementsContainer:hover {
  background: #3b3d43;
}

.svgContainer {
  margin-right: 10px;
}

.svg {
  width: 25px;
  filter: invert(1);
  opacity: 0.6;
  cursor: pointer;
}

.dmTitle {
  opacity: 0.4;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
}
