* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --deep-grey: #202225;
  --semi-deep-grey: #2f3136;
  --light-grey: #36393f;
  --primary-color: #5865f2;
  --grey-text-color: #dcddde;
  --font-size: 0.95rem;
  --transition: 0.2s ease-out;
  --green: #3ba55d;
  --hover-light-grey-color: #3b3d43;
}

body {
  background: #202225;
  font-size: 0.95rem;
  color: #dcddde;
}

#online,
#offline {
  border: 4px solid #2f3136;
}

#online {
  background: #3ba55d;
}

#offline {
  background: rgb(113 118 122);
  border-width: 3px;
}

#offline::before {
  content: '';
  width: 6px;
  height: 6px;
  background: #2f3136;
  display: block;
  border-radius: 100px;
  position: relative;
  top: 2px;
  left: 2px;
}

input[type='search'] {
  border: none;
  outline: none;
  width: 100%;
  background: #202225;
  padding: 7px;
  border-radius: 5px;
  color: #fff;
}
