.wrapper {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomAvatar::before {
  content: '';
  width: 17px;
  top: 20px;
  height: 20%;
  display: block;
  background: #fff;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: -12px;
  position: absolute;
  transition: var(--transition);
}

.roomAvatar:hover::before {
  height: 55%;
  top: 12px;
}

.roomAvatarImage {
  width: 48px;
  height: 48px;
  background: var(--light-grey);
  border-radius: 100%;
  margin-bottom: 10px;
  position: relative;
  left: 12px;
  transition: var(--transition);
  cursor: pointer;
}

.roomAvatarImage:hover {
  border-radius: 15px;
}
